.pie {
  .st1{fill:#F05235;}
	.st2{filter:url(#Adobe_OpacityMaskFilter);}
	.st3{fill:url(#SVGID_2_);}
	.st4{opacity:0.3;mask:url(#SVGID_1_);fill:url(#SVGID_3_);}
	.st5{filter:url(#Adobe_OpacityMaskFilter_1_);}
	.st6{fill:url(#SVGID_5_);}
	.st7{opacity:0.15;mask:url(#SVGID_4_);fill:#231F20;}
	.st8{filter:url(#Adobe_OpacityMaskFilter_2_);}
	.st9{fill:url(#SVGID_7_);}
	.st10{opacity:0.1;mask:url(#SVGID_6_);fill:#231F20;}
	.st11{fill:#FFFFFF;}
	.st12{fill:none;stroke:#424242;stroke-width:0.7143;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st13{fill:none;stroke:#424242;stroke-width:0.7143;stroke-linejoin:round;stroke-miterlimit:10;}
	.st14{fill:none;stroke:#FFFFFF;stroke-width:2;}
	.st15{fill:#008198;}
	.st16{filter:url(#Adobe_OpacityMaskFilter_3_);}
	.st17{fill:url(#SVGID_9_);}
	.st18{opacity:0.3;mask:url(#SVGID_8_);fill:url(#SVGID_10_);}
	.st19{filter:url(#Adobe_OpacityMaskFilter_4_);}
	.st20{fill:url(#SVGID_12_);}
	.st21{opacity:0.15;mask:url(#SVGID_11_);fill:#231F20;}
	.st22{filter:url(#Adobe_OpacityMaskFilter_5_);}
	.st23{fill:url(#SVGID_14_);}
	.st24{opacity:0.1;mask:url(#SVGID_13_);fill:#231F20;}
	.st25{fill:none;stroke:#424242;stroke-width:0.8214;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st26{fill:#00ACCB;}
	.st27{filter:url(#Adobe_OpacityMaskFilter_6_);}
	.st28{fill:url(#SVGID_16_);}
	.st29{opacity:0.3;mask:url(#SVGID_15_);fill:url(#SVGID_17_);}
	.st30{filter:url(#Adobe_OpacityMaskFilter_7_);}
	.st31{fill:url(#SVGID_19_);}
	.st32{opacity:0.15;mask:url(#SVGID_18_);fill:#231F20;}
	.st33{filter:url(#Adobe_OpacityMaskFilter_8_);}
	.st34{fill:url(#SVGID_21_);}
	.st35{opacity:0.1;mask:url(#SVGID_20_);fill:#231F20;}
	.st36{fill:none;stroke:#424242;stroke-width:0.7857;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st37{fill:none;stroke:#424242;stroke-width:0.7857;stroke-linejoin:round;stroke-miterlimit:10;}
	.st38{fill:#8CC63F;}
	.st39{filter:url(#Adobe_OpacityMaskFilter_9_);}
	.st40{fill:url(#SVGID_23_);}
	.st41{opacity:0.3;mask:url(#SVGID_22_);fill:url(#SVGID_24_);}
	.st42{filter:url(#Adobe_OpacityMaskFilter_10_);}
	.st43{fill:url(#SVGID_26_);}
	.st44{opacity:0.15;mask:url(#SVGID_25_);fill:#231F20;}
	.st45{filter:url(#Adobe_OpacityMaskFilter_11_);}
	.st46{fill:url(#SVGID_28_);}
	.st47{opacity:0.1;mask:url(#SVGID_27_);fill:#231F20;}
	.st48{fill:none;stroke:#424242;stroke-width:0.8636;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st49{fill:#E3C620;}
	.st50{filter:url(#Adobe_OpacityMaskFilter_12_);}
	.st51{fill:url(#SVGID_30_);}
	.st52{opacity:0.3;mask:url(#SVGID_29_);fill:url(#SVGID_31_);}
	.st53{filter:url(#Adobe_OpacityMaskFilter_13_);}
	.st54{fill:url(#SVGID_33_);}
	.st55{opacity:0.15;mask:url(#SVGID_32_);fill:#231F20;}
	.st56{filter:url(#Adobe_OpacityMaskFilter_14_);}
	.st57{fill:url(#SVGID_35_);}
	.st58{opacity:0.1;mask:url(#SVGID_34_);fill:#231F20;}
	.st59{fill:none;stroke:#424242;stroke-width:0.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st60{fill:none;stroke:#424242;stroke-width:0.75;stroke-linejoin:round;stroke-miterlimit:10;}
	.st61{fill:#FF9800;}
	.st62{filter:url(#Adobe_OpacityMaskFilter_15_);}
	.st63{fill:url(#SVGID_37_);}
	.st64{opacity:0.3;mask:url(#SVGID_36_);fill:url(#SVGID_38_);}
	.st65{filter:url(#Adobe_OpacityMaskFilter_16_);}
	.st66{fill:url(#SVGID_40_);}
	.st67{opacity:0.15;mask:url(#SVGID_39_);fill:#231F20;}
	.st68{filter:url(#Adobe_OpacityMaskFilter_17_);}
	.st69{fill:url(#SVGID_42_);}
	.st70{opacity:0.1;mask:url(#SVGID_41_);fill:#231F20;}
	.st71{clip-path:url(#SVGID_44_);}
	.st72{fill:none;stroke:#424242;stroke-width:0.8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st73{fill:none;stroke:#424242;stroke-width:0.8;stroke-linejoin:round;stroke-miterlimit:10;}
	.st74{opacity:0.4;fill:#FFFFFF;}
	.st75{filter:url(#Adobe_OpacityMaskFilter_18_);}
	.st76{opacity:0.7;fill:url(#SVGID_46_);}
	.st77{opacity:0.24;mask:url(#SVGID_45_);fill:#FFFFFF;}
	.st78{filter:url(#Adobe_OpacityMaskFilter_19_);}
	.st79{opacity:0.7;fill:url(#SVGID_48_);}
	.st80{opacity:0.24;mask:url(#SVGID_47_);fill:#FFFFFF;}
	.st81{opacity:0.3;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
	.st82{fill:url(#SVGID_49_);}
  .st83{fill:url(#SVGID_50_);}  
  &__block {
    width: 740px;
    height: 740px;
    position: relative;
  }
  &__svg {
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__part {
    transition: 0.2s;
    transform-origin: 50% 50%;
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
		&_shadow {
			transition: 0.1s;
		}
    &:hover, &.hover {
			transform: scale(1.08);
			@media (hover: none) and (pointer: coarse) {
				transform: none;
			}
    }
    &-text {
      color: #fff;
      font-family: Montserrat;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      line-height: 25px;
    }
  }
  &__mid {
    &-text {
      font-family: Montserrat;
      font-weight: 800;
      color: #0148BC;
      text-align: center;
      font-size: 38px;
      line-height: 42px;
    }
  }  
  &__shadow {
		transform: translate(25px,25px);
	}
  &__mid-shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    pointer-events: none;
    max-width: 37%;
    max-height: 37%;
    border-radius: 50%;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      pointer-events: none;
      max-width: 84%;
      max-height: 84%;
      border-radius: 50%;
      box-shadow: 9px 9px 8px rgba(0,0,0,0.3);
    }
  }
}